:root {
    --move-time: .25s;
}

.hamburger {
    width: 24px;
    height: 20px;
    position: relative;
    display: block;
}
  
.hamburger span {
    position: absolute;
    height: 4px;
    width: 24px;
    background: var(--black);
    left: 0;
}

.hamburger span:nth-child(1) { top: 0px; }
  
.hamburger span:nth-child(2) { top: 8px; }
  
.hamburger span:nth-child(3) { bottom: 0px; }

.hamburger span:nth-child(4) { 
    bottom: -15px;
    left: 19px;
    rotate: 60deg;
}
.hamburger span:nth-child(5) { 
    bottom: -15px;
    left: -19px;
    rotate: -60deg;
}

@media screen and (max-width: 639px) { 
    .hamburger.active span:nth-child(1) {
        translate: 0 16px;
        transform: translateX(3px);
        width: 18px;
        transition: translate var(--move-time), transform var(--move-time) var(--move-time), width var(--move-time) var(--move-time);
    }
    .hamburger.active span:nth-child(2) {
        translate: 0 8px;
        transform: translateX(3px);
        width: 18px;
        transition: translate var(--move-time), transform var(--move-time) var(--move-time),  width var(--move-time) var(--move-time);

    }
    .hamburger.active span:nth-child(3){
        width: 18px;
        transform: translateX(3px);
        transition: transform var(--move-time) var(--move-time), width var(--move-time) var(--move-time);
    }
    
    .hamburger.active span:nth-child(4) {
        translate: -17.25px -24px;
        width: 28px;
        clip-path: polygon(10% 0, 100% 0, 100% 100%, 17.5% 100%);
        transition: translate var(--move-time) var(--move-time);        
    }
    .hamburger.active span:nth-child(5) {
        translate: 14px -22px;
        width: 24px;
        transition: translate var(--move-time) var(--move-time);
        clip-path: polygon(0 0, 90% 0, 80% 100%, 0% 100%);

    }
    .hamburger span:nth-child(1) {
    translate: 0 0;
    width: 24px;
    transition: translate var(--move-time) var(--move-time), width var(--move-time);
}

.hamburger span:nth-child(2) {
    translate: 0 0;
    width: 24px;
    transition: translate var(--move-time) var(--move-time), width var(--move-time);
}

.hamburger span:nth-child(3) {
    translate: 0 0;
    width: 24px;
    transition: translate var(--move-time) var(--move-time), width var(--move-time);
}

.hamburger span:nth-child(4) {
    translate: 0 0;
    transition: translate var(--move-time);
}

.hamburger span:nth-child(5) {
    translate: 0 0;   
    transition: translate var(--move-time);
}
.hamburger-row.active {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

}
.hamburger-row {
padding: 1em;
background-color:rgba(162, 122, 185, 0);
display: flex;
justify-content: flex-end;
overflow-x: hidden;
}
.hamburger-btn{
    overflow: hidden;
}
.hamburger-nav {
    position: fixed;
    right: -120%;
    width: 100%;
    top: 48px;
    bottom: 0;
    margin: 0;
    transition: right calc(var(--move-time)*2) ease-in-out;
    z-index: 2;
    background-color: var(--bg);
}
.hamburger-nav.active {
    right: 0;
    z-index: 2;
}
    

.hamburger-nav menu {
    margin: 0;
    padding: 0;
}
.hamburger-nav li {
    display: block;
    padding: 1em 1em;
}
.hamburger-nav li a::after {
    content: "";
    position: absolute;
    bottom: 2px;
    width: 0%;
    left: 0;
    height: 2px;
    background-color: var(--black);
    transform-origin: left;
}
.hamburger-nav li:hover a::after{
    width: 100%; 
    transition: width 0.25s;
       
}
.hamburger-nav li a{
    position: relative;
    color: var(--black);
    font-size: 1.5em;
    text-decoration: none;    
}
}
