@layer reset, fonts, hamburger;

@import url(./normalize.css) layer(reset);
@import url(./fonts.css) layer(fonts);
@import url(./hamburger.css) layer(hamburger);

:root {    
    --bg: light-dark(#D1FAFF, #101D42);
    --white: light-dark(#ffffff, #000000);
    --black: light-dark(#000000,#ffffff );
    --dark-blue: light-dark(#D1FAFF,#6A8EAE);
    --gray: light-dark(#594157 ,#594157 );
    color-scheme: light dark;
  }

html{
 font-family: "DM Sans", sans-serif;;
}
body{
    background-color: var(--bg);
    overflow-x: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    margin-top: 48px;
    flex-grow: 1;
    
}
h1{
    margin: auto 0;
    font-size: 24px;
}
.page-logo{
    display: flex;
}
.logo{
    fill: var(--black);
}
.logo-link{
    text-decoration: none;
    color: var(--black);
}
nav{
    text-align: center;
}
.image-responsive{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
/* header{
    border-bottom: solid var(--black) 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--bg);
    z-index: 3;
} */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    position: fixed;
    border-bottom: var(--black) solid 2px;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--bg);
    z-index: 3;
}
.card{
    text-align: center;
    margin:  48px auto;
    border-top: solid var(--black) 2px;
    border-bottom: solid var(--black) 2px;
}
.card__image{
    max-width: fit-content;
    margin: 0 auto;
    max-height: 80vh;
}
.card__info {
    text-decoration: underline;
    color: var(--black);
}
.footer{
    padding: 10px 20px;
    margin-top: 3em;
    border-top: solid var(--black) 2px;
}
.footer-info{
    color: var(--black);
    text-decoration: underline;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, auto));
    gap: 2em;
}
.form__card{
    margin-top: 48px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.form__element{
    font-size: 1em;
    padding: 0.5em;    
    background-color: var(--bg);
    border: solid var(--black);
    border-radius: 8px;
}
.form__element::placeholder{
    color: var(--black);
}
.send-btn{
    width: 80px;
    align-self: end;
}
.form__title{
    text-align: center;
    margin: auto 0;
    font-size: 24px;
}
.info-card{
    text-align: center;
    padding: 2em;
    max-width: 300px;
    margin: 48px auto;
    color: var(--black);
    margin: 0 auto;
}
.info-card__title {
}


@media screen and (min-width: 640px) {
   /*.display {
        display: grid;
        grid-template-columns: minmax(min(100%, 200px), 200px) 1fr;
        gap: 1em;
    }*/
    .hamburger-row {
        display: none;
    }

    .hamburger-nav {
        transform: none;
        min-height: calc(100vh - 4px);
        height: auto;
        position: static;
        border-right: 1px solid rgb(255, 255, 255);
    }}